.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
  background-color: antiquewhite;
}
.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}
.social i:hover {
  color: #ffffff;
}

.title-home {
  padding-bottom: 20px;
  font-size: 40px;
  text-transform: uppercase;
  color: aquamarine;
  font-family: monospace;
  font-style: italic;
}

.home {
  margin-right: 20%;
  text-align: center;
}

.about-text a {
  color: aquamarine;
}

.about-text {
  text-align: center;
  position: fixed;
}

.about-paragraph {
  line-height: 2;
  padding: 30px 10%;
  font-size: larger;
  /* bac0, 0, 0, 0.7);kground: rgba( */
}

.about-heading {
  line-height: 1.5;
}

.about-heading u {
  color: aquamarine;
}
