.App {
  background: url(https://images.unsplash.com/photo-1550063873-ab792950096b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  height: 100vh;
  display: flex;
  color: white;
  text-align: center;
}

.main-container {
  padding: 0 80px;
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
}

.profile h1 {
  margin: 20px 0 40px;
  padding: 0;
  font-size: 40px;
  text-transform: uppercase;
  color: aquamarine;
  font-family: monospace;
  font-style: oblique;
}
